body {
    background-color: #ffffff;
    text-align: center;
    margin-top: 100px;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formdiv {
    /* text-align: left; */
    margin-right: 20px;

}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(197, 10, 51);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
    display: block;
    margin: auto;
    margin-top: 20px;
}

button:hover {
    background-color: #b30054;
}

p {
    font-weight: bold;
    margin: 0;
    color: #333;
}
