<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="{% static 'quantri/forgot-password.css' %}">
</head>
<body>
    
    {% if messages %}
    <div class="MessageBox">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="formdiv">
            <h2 style="color: brown;">Quên mật khẩu</h2>
{#            <label for="email_or_username">Tên người dùng hoặc Email:</label>#}
            <input type="text" id="email_or_username" name="email_or_username" required placeholder="Nhập email đã đăng ký:">
            <button type="submit">Yêu cầu đặt lại mật khẩu</button>
             <a href="{% url 'post:login' %}" >Đăng nhập</a>
        </div>
    </form>
</body>
</html>
